In [1]:
import pandas as pd

In [2]:
left = pd.DataFrame([['a', 1],['b', 2]], list('XY'), list('AB'))
right = pd.DataFrame([['a', 3], ['b', 4]], list('XY'), list('AC'))

In [3]:
left

   A  B
X  a  1
Y  b  2

In [4]:
right

   A  C
X  a  3
Y  b  4

In [5]:
 left.join(right, lsuffix='_Z')

  A_Z  B  A  C
X   a  1  a  3
Y   b  2  b  4

In [6]:
 left.join(right,rsuffix='_Z')

   A  B A_Z  C
X  a  1   a  3
Y  b  2   b  4

In [7]:
pd.merge(left, right)

   A  B  C
0  a  1  3
1  b  2  4

In [8]:
pd.merge(left, right, left_index=True, right_index=True, suffixes=['_', '-'])

  A_  B A-  C
X  a  1  a  3
Y  b  2  b  4

In [9]:
left.reset_index()

  index  A  B
0     X  a  1
1     Y  b  2

In [10]:
left.reset_index().join(right, on='index', lsuffix='_', how='outer')

  index A_  B  A  C
0     X  a  1  a  3
1     Y  b  2  b  4

In [11]:
m = pd.DataFrame([[[1, 2, 3], [4, 5, 6], [7, 8, 9]]], list('XYZ'), list('ABC'))
m

           A          B          C
X  [1, 2, 3]  [4, 5, 6]  [7, 8, 9]
Y  [1, 2, 3]  [4, 5, 6]  [7, 8, 9]
Z  [1, 2, 3]  [4, 5, 6]  [7, 8, 9]

In [12]:
n = pd.DataFrame([[[1], [2], [3]], [[4], [5], [6]], [[7], [8], [9]]], list('XYZ'), list('ABC'))
k = pd.DataFrame([[[9], [8], [7]], [[6], [5], [4]], [[3], [2], [1]]], list('XYZ'), list('ADE'))
l = pd.DataFrame([[[1], [2], [3]], [['a'], ['b'], ['c']], [[5], [4], [6]]], list('XYZ'), list('ADE'))
l

     A    D    E
X  [1]  [2]  [3]
Y  [a]  [b]  [c]
Z  [5]  [4]  [6]

In [13]:
n.join(k, lsuffix='_')

    A_    B    C    A    D    E
X  [1]  [2]  [3]  [9]  [8]  [7]
Y  [4]  [5]  [6]  [6]  [5]  [4]
Z  [7]  [8]  [9]  [3]  [2]  [1]

In [14]:
k.join(l, lsuffix='_')

    A_   D_   E_    A    D    E
X  [9]  [8]  [7]  [1]  [2]  [3]
Y  [6]  [5]  [4]  [a]  [b]  [c]
Z  [3]  [2]  [1]  [5]  [4]  [6]

In [15]:
lst = [lambda i=i : i for i in range(0,10)]
for fun in lst:
    print(fun())

0
1
2
3
4
5
6
7
8
9

In [16]:
pd.merge(n, k)

TypeError: type object argument after * must be an iterable, not itertools.imap